<template>
  <require from='../highlight'></require>

  <section class="au-animate">
    <div class="pull-right">
      <button type="button" class="btn btn-success" click.trigger="clipboardCopy()"><span class="glyphicon glyphicon-copy"></span> Copy</button>
    </div>
    <h2>${snippet.title}</h2>

    <div class="snippet-container">
      <pre><code highlight.bind="snippet.language.code">${snippet.contents}</code></pre>

      <ul class="list-group">
        <li if.bind="snippet.language" class="list-group-item"><b>Language:</b> ${snippet.language.name}</li>
        <li if.bind="snippet.tags" class="list-group-item"><b>Tags:</b> ${snippet.tags | tags}</li>
      </ul>
    </div>

    <a route-href="route: snippet-edit; params.bind: { id: snippet.id }" class="btn btn-default">Edit</a>

    <div class="pull-right">
      <button type="button" class="btn btn-danger">Delete</button>
    </div>
  </section>
</template>
